rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /issues/{issueId} {
      allow read, write: if true;
    }
    match /wards/{wardId} {
      allow read, write: if true;
    }
    match /profile/{profileId} {
      allow read, write: if true;
    }
  }
}
